@charset "UTF-8";

// 変数
$grey: #555A5E;
$border: #DADFE3;

// 共通
body {
  font-family: sans-serif;
  color: $grey;
}
a {
  text-decoration: none;
}

// header
.header{
  max-width: 1240px;
  width: 91%;

  h1 {
  border-bottom: solid 1px $border;
  font-size: 45px;
  letter-spacing: 1px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}

// form
form {
  font-size: 35px;
  .container {
    max-width: 1240px;
    width: 91%;
  }
}
